@import "../../style.scss";

.share {
  @include themify($themes) {
    -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
    background-color: themed("bg");
    margin-bottom: 20px;
    border-radius: 20px;
    color: themed("textColor");
    .container {
      padding: 20px;
      display: flex;
      flex-direction: column;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
          flex: 4;
          display: flex;
          align-items: center;
          img {
            background-color: white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
          }
          input {
            padding: 20px 10px;
            width: 70%;
            border: none;

            outline: none;
            border-radius: 5px;
            background-color: transparent;
            color: themed("textColor");
          }
        }
        .right {
          flex: 1;
          display: flex;
          justify-content: flex-end;

          .file {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 0px;
          }
        }
      }
      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }
      .bottom {
        display: flex;
        justify-content: space-between;

        .left {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 10px;

          .item {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            cursor: pointer;

            img {
              width: 20px;
            }
          }
        }

        .right {
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            border: none;
            background-color: #5271ff;
            padding: 5px 10px;
            color: white;
            border-radius: 3px;
            cursor: pointer;
          }
        }
      }
    }
  }
}
